<div class="content-wrapper common-cnt">
    <div class="block font-med">
        <span class="title">{{ 'community_resources' | translate }}</span>
        <span class="description">{{ 'community_resources_desc' | translate }}</span>
    </div>

    <div class="community-res">
        <i class="pi pi-twitter"></i>
        <div>
            <span class="title">Twitter</span>
            <span class="description">{{ 'res_twitter_desc' | translate }}</span>
            <a class="link" href="https://twitter.com/incentivetoken" target="_blank">{{ 'res_twitter_link' | translate }} @incentivetoken <i class="pi pi-angle-right"></i></a>
        </div>
    </div>

    <div class="community-res">
        <i class="pi pi-discord"></i>
        <div>
            <span class="title">Discord</span>
            <span class="description">{{ 'res_discord_desc' | translate }}</span>
            <a class="link" href="https://discord.gg/fFzDHMKhcN" target="_blank">{{ 'res_discord_link' | translate }} <i class="pi pi-angle-right"></i></a>
        </div>
    </div>

    <div class="community-res">
        <i class="pi pi-github"></i>
        <div>
            <span class="title">GitHub</span>
            <span class="description">{{ 'res_github_desc' | translate }}</span>
            <a class="link" href="https://github.com/inctoken" target="_blank">{{ 'res_github_link' | translate }} <i class="pi pi-angle-right"></i></a>
        </div>
    </div>

</div>
