<div class="content-wrapper common-cnt">

    <div class="block font-med">
        <span class="title">{{ 'who_we_are' | translate }}</span>
        <span class="description">{{ 'who_we_are_desc' | translate }}</span>
    </div>

    <div class="block font-med">
        <span class="title">{{ 'what_our_purpose' | translate }}</span>
        <span class="description">{{ 'what_our_purpose_desc' | translate }}</span>
    </div>

    <div class="block font-med">
        <span class="title">{{ 'roadmap' | translate }}</span>

        <div class="block-content center">
            <p-timeline [value]="roadmapSteps" align="alternate" styleClass="customized-timeline">
                <ng-template pTemplate="marker" let-event>
                    <span *ngIf="event.completed" class="custom-marker check-marker">
                        <i class="pi pi-check"></i>
                    </span>
                    <span *ngIf="!event.completed" class="p-timeline-event-marker">
                    </span>
                </ng-template>
                <ng-template pTemplate="content" let-event>
                    <p-card [header]="event.title" [subheader]="event.subject">
                        <p *ngFor="let text of event.content">
                            <span [innerHTML]="text"></span>
                        </p>
                        <!--<button pButton label="Read more" class="p-button-text"></button>-->
                    </p-card>
                </ng-template>
            </p-timeline>
        </div>
    </div>

</div>
