::ng-deep .faq-accordion .p-accordion-header-text {
    font-size: 18px;
    font-weight: 700;
}

::ng-deep .faq-accordion .p-accordion-content {
    font-size: 18px;
    line-height: 1.5;
    padding: 2rem;
    background: #0a0a0a;
    word-break: break-word;
}

::ng-deep .faq-accordion .p-accordion-content > span {
    display: block;
}
