<div class="content-wrapper common-cnt">

    <div class="block font-med">
        <span class="title">{{ 'faq' | translate }}</span>

        <div fxLayout="row wrap">

            <p-accordion class="faq-accordion">
                <p-accordionTab *ngFor="let item of items" [header]="item.label">
                    <span *ngFor="let text of item.content" [innerHTML]="text"></span>
                </p-accordionTab>
            </p-accordion>

        </div>
    </div>

    <div class="block font-sml center">
        <span class="title">{{ 'have_question_not_answered' | translate }}</span>
        <span class="description">
            {{ 'for_official_answers_join_' | translate }} <a class="link" href="https://discord.gg/fFzDHMKhcN" target="_blank">{{ 'inc_community' | translate }}</a>
        </span>
    </div>

</div>