::ng-deep .faq-accordion .p-accordion-header-text {
    font-size: 18px;
    font-weight: 700;
}

::ng-deep .faq-accordion .p-accordion-content {
    font-size: 18px;
    line-height: 1.5;
    background: #0a0a0a;
}

::ng-deep .faq-accordion .p-accordion-content > span {
    display: block;
}
